/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');

html,
body {
    height: 100%;
    font-family: Rubik;
    font-size: 14px;
    color: #333333;
}

body {
    display: flex;
}

.header {
    
}

svg {
    display: flex;
    flex: 1;
    .grid-lines line {
        stroke: gray;
        stroke-opacity: 0.2;
    }
}
